{% extends 'base.html' %}

{% block head %}

{% endblock head %}

{% comment %} content {% endcomment %}

{% block content %}

<div id="login_background_div">
  <div id='login_inner_div'>
    <h1>로그인</h1>
    <form method="POST">
        {% csrf_token %}
        아이디:
        <br>
        <input name="username" type="text">
        <br>
        비밀번호:
        <br>
        <input name="password" type="password">
        <br><br>
        <input type="submit" class="btn" value="Login">
    </form>
  </div>
</div>

{% endblock content %}

{% comment %} css {% endcomment %}

{% block css %}

#login_background_div{
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login_inner_div{
  height: 50vh;
  width: 20vw;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  padding-top: 10vh;

  background-color: rgba(255, 255, 255, 0.2);

  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px 10px 10px 10px / 5px 5px 5px 5px;
}

{% endblock css %}