[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=~/prj/final_cv13/venv/bin/uwsgi -i ~/prj/final_cv13/back/.config/uwsgi/back.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target